@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@media (max-width: 600px) {
  body {
    color: #fff !important;
    color-scheme: dark;
  }
  
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

#mobileMenu {
  animation: Fade .3s ease-in-out forwards;
  opacity: 0;
  height: 100%;
}


.write {
  position: relative;
}

.write::after {
  animation: Write 5s forwards;
  width: 100%;
  background-color: #fff;
  position: absolute;
  height: 100%;
  right: 0;
  top: 0;
}

@keyframes Fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes Write {
  0% {
    width: 100%;
  }
  25% {
    width: 75%;
  }
  50% {
    width: 50%;
  }
  75% {
    width: 25%;
  }
  100% {
    width: 0;
  }
}

.card, .card-exemplo, .card-exemplo img {
  aspect-ratio: 9/16;
}

.card-exemplo {
  width: max-content;
  position: relative;
  perspective: 1000px;
}

.containerCard {
  max-width: 300px;
  height: 400px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  background: #fff;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .containerCard {
    max-width: 150px;
    height: 200px;
  }
  .card-exemplo img {
    object-fit: contain;
  }
}

.card-exemplo, .front, .back {
  position: absolute;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  display: block;
  width: 100%;
  height: 100%;
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
  overflow: hidden;
}

.card-exemplo:hover .front {
  transform: rotateY(-180deg);
} 

 .card-exemplo:hover .back {
  transform: rotateY(0deg);
}
 